<div class="container">
  <div class="row">
    <div class="col-med-6 offset-md-3 mb3">
<h1 class="title">YU <small>meal</small> <small>planner</small> </h1>
<p>Find me in app/views/pages/index.html.erb</p>
<%= link_to "My profile", pages_home_path(weekly_view: true) %>
<%= link_to "Add Meal", new_meal_plan_path %>
</div></div>
</div>
